.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none; 
    }
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 70%;
    position: relative;
    padding: 20px;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    background-image: url(../img/linea-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.modalbox2{
    width: 70%;
    position: relative;
    padding: 20px;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    background-color: #FFFFFF;  
}
.movedown {
    margin: 0 auto;
    }
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
    }
.resize {
    margin: 10% auto;
    width:0;
    height:0;
    }
.modalmask:target .movedown{       
    margin:10% auto;
    }
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);   
    }
.modalmask:target .resize{
    width:400px;
    height:200px;
    }
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
    }
.close:hover {
    background: #3CA090;
    color:#222;
    }
.testi{
    position: absolute;
    top:0;
    right: 0;
    padding: 3px;
    }
.testi2{
    position: absolute;
    bottom:0;
    right: 0;
    padding: 0px 25px 0px 0px;
    opacity: 0.4;
}
.advertensia{
    font-size: 6em;
}
.alto{
    height: 60vh;
}
.chonchito{
    font-weight: 500;
}
.redonda{
    border-radius: 20%;
}
.sombra{
    box-shadow: 10px 5px 5px rgba(0,0,0,0.1);
}
.rotado{
    position: relative; 
    top: -150px;
    left: 45%;
    transform: scale(2) rotate(20deg);
}
.rotamovil{
    position: relative; 
    bottom: -50px;
    left: 38%;
    transform: scale(2);

}
/*FONDOS*/

/*GLOBAL*/
.requisitos{
    background-image: url(../img/requisitos.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.terminar{
    background-image: url(../img/terminar.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ventajas{
    background-image: url(../img/ventajas.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.capacitate{
    background-image: url(../img/capa.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.boletin{
    background-image: url(../img/boletin.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*INDEX*/

.fondo{
    background-image: url(../img/img4.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fondo1{
    background-image: url(../img/chica-haciendo-su-examen_1098-218.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondo2{
    background-image: url(../img/chica-estudiando-examen.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.taller{
    background-image: url(../img/taller.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.simulacro{
    background-image: url(../img/simulacro.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.linea{
    background-image: url(../img/linea.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sesion{
    background-image: url(../img/sesion.webp);/*aqui*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img1{
    background-image: url(../img/min1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondoverde{
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img2{
    background-image: url(../img/img3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(../img/img4.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondeado{
    background-image: url(../img/img3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondeado2{
    background-image: url(../img/inve.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inv{
    background-image: url(../img/inve.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inv2{
    background-image: url(../img/inve2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-guia{
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*SESIONES INFORMATIVAS*/
.informativa{
    background-image: url(../img/sesion-informativa.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*AULA VIRTUAL*/
.aula{
    background-image: url(../img/aula.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*CURSO EN LINEA*/
.curso-linea{
    background-image: url(../img/curso-linea.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*EXAMENES SIMULACRO*/
.examen-simulacro{
    background-image: url(../img/examen-simulacro.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*TALLER DE REACTIVOS*/













@media only screen and (min-width:901px) and (max-width:3000px) {
    .cuadrada{
        display: none;
    }
    .espacio{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .espacio2{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .bordesito{
        border-right: #3ca090 2px solid;
    }
    .pararotado{
        margin-top: 100px;
    }
    
    
}
@media only screen and (min-width:100px) and (max-width:900px) {
    .img2{
        background-image:none;
    }
    .inv{
        background-image: none;
    }
    .espacio{
        padding-top: 0px;
        padding-bottom: 48px;
    }
    .desaparece{
        display: none;
    }
    .reduxco{
        width: 50px;
    }
    .alto{
        height: auto;
    }   
    .pararotado{
        margin-top: 100px;
    }
    .modalbox{
        width: 90%;
    }
    /* index */
    .sesion{
        background-image: none;
    }
    .linea{
        background-image: none;
    }
    .simulacro{
        background-image: none;
    }
    .taller{
        background-image: none;
    }
    .ventajas{
        background-image: none;
    }
    .terminar{
        background-image: none;
    }
    .capacitate{
        background-image: none;
    }
    .testi2{
        position: absolute;
        top:0;
        left: 43%;
        padding: 0px 0px 0px 0px;
        opacity: 0.4;
    }
    .advertensia{
        font-size: 3.5em;
    }
}    



/* ESTILOS SLIDER  TODO: */

#carousel .carousel-item.boat{
    background-image:url("../img/img4.webp");
}
#carousel .carousel-item.sea{
    background-image:url("../img/img3.webp");
}
#carousel .carousel-item.river{
    background-image:url("../img/inicio2.webp");
}
#carousel .carousel-item{
    height:70vh;
    width:100%;
    min-height:350px;
    background:no-repeat center center scroll;
    background-size:cover;
}
#carousel .carousel-inner .carousel-item{
    transition:-webkit-transform 2s ease;
    transition:transform 2s ease;
    transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
    background:rgba(60,160,144,0.85);
}

#carousel .carousel-item .caption2{
    background:rgba(0,0,0,0.5);
}
.oscurito{
    background:rgba(0,0,0,0.5);
}

/*  owl */
div::-webkit-scrollbar{
	display: none;
	}
.hola .product{
	min-width: 33%;
	transition: 0.5s;
	}
@media (max-width: 768px) {
	.hola .product {
	    min-width: 99%;
	}

