
$font-weight-normal:500;
$headings-font-weight: 700;
$primary:#3CA090;
$success:#808080;
$secondary:#07092F;
$font-family-sans-serif: 'Montserrat', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";